body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    Background:#777;
    width: 960px;
    font-size: 18px;
}

#bigdiv{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;

}

#header {
    background-color: #ebebeb;
    width: 495px;
    padding: 25px;
    margin: 25px;
    position: absolute;
    left: 25%;
    top: 1%;
    width: 50%;
    text-align: center;
    font-size: 18px;
    border: 10px
}

#Navigation{
    background-color: #ebebeb;
    width: 495px;
    padding: 25px;
    margin: 25px;
    position: absolute;
    left: 25%;
    top: 15%;
    width: 50%;
    text-align: center;
    font-size: 18px;
}


#section{
    background-color: #ebebeb;
    width: 495px;
    padding: 25px;
    margin: 25px;
}


#aside{
    background-color: #ebebeb;
    width: 495px;
    padding: 25px;
    margin: 25px;
}


#footer {background-color: #ebebeb;
    width: 495px;
    padding: 25px;
    margin: 25px;
}

#article{
    color: #777;
    background-color: #ebebeb;

}